@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-text: #fff;
  --color-background: #2f3241;
  --color-primary: #6d28d9;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
